@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

/* general */

body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-weight: lighter;
    width: 100%;
    height: 100vh;
}

body > *{
    padding: 20px;
}

ul{
    padding: 0;
}

a{
    text-decoration: none;
}

/* ========== */

/* header */

header{
    background-image: url('../img/cv_martina/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    min-height: 300px;
}

header img{
    width: 200px;
    border-radius: 50%;
}

header h1{
    line-height: 2em;
}

header h1 span{
    background-color: #FFFFFF80;
    padding: 15px;
    letter-spacing: 2px;
}

ul.menu li{
    background-color: #FFFFFF80;
    color: #fc8bc4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

ul.menu li a{
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}

ul.menu li.on, ul.menu li a:hover{
    background-color: #fc8bc4;
    color: #FFFFFF;
}

ul.menu li.on a{
    color: #FFFFFF;
}

ul.menu li.on:hover a{
    background-color: #FFFFFF80;
    color: #000;
}

/* ========== */

/* main */

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section{
    background-color: #f6f6f6;
    margin: 10px;
    padding: 20px;
}

section h2{
    color: #fc8bc4;
    margin-top: 0;
}

section.sobremi{
    text-align: center;
}

ul.cronologia li{
    margin-bottom: 10px;
}

/* ========== */

/* footer */

footer{
    background-color: #fc8bc4;
}

ul.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

ul.redes li a{
    margin: 10px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.redes li a i{
    color: #FFFFFF;
}

ul.redes li a:hover{
    border: 2px solid #c6c6c6;
}

ul.redes li a:hover i{
    color: #c6c6c6;
}

/* ========== */
