@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body > *{
    padding: 20px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

ul{
    display: flex;
    gap: 15px;
    padding: 0;
}

h2{
    color: #FC200C;
    margin: 0;
}

h2 span{
    color: #FFFFFF;
}

header, footer{
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #E5E5E5;
    gap: 10px;
}

section{
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    height: 350px;
}

section.envio{
    background-image: url('../img/pizza/delivery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

section.podio{
    background-color: #FFFFFF;
}

section.podio h2{
    text-align: center;
}

section.podio ol{
    font-weight: bold;
    padding: 0;
}

section.podio > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

footer ul{
    flex-direction: column;
}