@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-weight: lighter;
    width: 100%;
}

body > *{
    padding: 20px;
}

header{
    background-color: #fef7fa;
    text-align: center;
}

header h1{
    letter-spacing: 1px;
    margin-bottom: 0;
}

header p{
    margin-top: 0;
}

header img{
    border-radius: 50%;
}

main ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 10px;
}

main ul li{
    background-color: #fef7fa;
    border: 2px solid #fef7fa;
    text-align: center;
    width: 200px;
    height: 200px;
    display: flex;
}

main ul li:hover{
    border: 2px solid #8492a6;
}

main ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    width: 100%;
}

main ul li:hover a{
    color: #8492a6;
}

main ul li a i{
    margin-bottom: 10px;
    font-size: 2rem;
}